
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage</h2>

<table>
    <thead>
        <tr>
            <th style="width: 60px;">Profil</th>
            <th style="width: 50px;">Tftf</th>
            <th style="width: 50px;">Ufuf</th>
            <th style="width: 50px;">&#x3A8;f&#x3A8;f</th>
            <th style="width: 50px;">Tptp</th>
            <th style="width: 50px;">Upup</th>
            <th style="width: 50px;">&#x3A8;pyp</th>
            <th style="width: 50px;">Ugug</th>
            <th style="width: 120px;">Glas</th>
            <th style="width: 80px;">1230x1480</th>
            <th style="width: 80px;">985x2085</th>
            <th style="width: 120px;">Notis</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>LFI1003</td>
            <td>74</td>
            <td>1,951</td>
            <td>0,068</td>
            <td>47,5</td>
            <td>1,969</td>
            <td>0,061</td>
            <td>0,875</td>
            <td>4-16-4-16-4E</td>
            <td>1,283</td>
        </tr>
    </tbody>
</table>

