
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage</h2>

<h3>Fönster profil</h3>

<table>
    <thead>
        <tr>
            <th style="width: 60px;">Profil</th>

            <th style="width: 50px;">Tf</th>
            <th style="width: 50px;">Uf</th>
            <th style="width: 50px;">&#x3A8;f</th>

            <th style="width: 50px;">Tp</th>
            <th style="width: 50px;">Up</th>
            <th style="width: 50px;">&#x3A8;p</th>

            <th style="width: 50px;">Ug</th>
            
            <th style="width: 120px;">Glas</th>
            
            <th style="width: 120px;">Notis</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>LFI1003</td>

            <td>74</td>
            <td>1,951</td>
            <td>0,068</td>

            <td>47,5</td>
            <td>1,969</td>
            <td>0,061</td>

            <td>0,875</td>

            <td>4-16-4-16-4E</td>
            
            <td>note</td>
        </tr>
    </tbody>
</table>


<br />
<br />

<h3>Dörr profil</h3>

<table>
    <thead>
        <tr>
            <th style="width: 60px;">Profil</th>
            
            <th style="width: 50px;">Tf</th>
            <th style="width: 50px;">Uf</th>
            <th style="width: 50px;">&#x3A8;f</th>
            
            <th style="width: 50px;">Ug</th>
            <th style="width: 50px;">Tr</th>

            <th style="width: 120px;">Glas</th>
            
            <th style="width: 120px;">Notis</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>NLUD831HYE bott</td>
            
            <td>87</td>
            <td>1,928</td>
            <td>0,002</td>
            
            <td>0,894</td>
            <td>0,100</td>

            <td>1Al-3,2Ob-25L-3,2Ob-30TsB-3,2Ob</td>

            <td>N/A</td>
        </tr>
    </tbody>
</table>