
@model LeiabUv.Models.TemplateViewModel

@{
    ViewBag.Title = "Visa Modeller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<!--
<script src="~/Scripts/jquery-3.1.0.min.js"></script>
    -->

<style>
    a:hover {
        text-decoration: none;
    }
</style>


<div class="container" style="background-color: #333; min-height: 600px;">

    <div class="row">

        <div class="col-md-2">

            <h4 style="color: #ccc;">Modeller</h4>

            <div style="color: #ccc;">
                <p id="TemplateName" style="font-weight: bold;">Namn</p>
                <p style="color: #ccc; margin-bottom: 0px;">Skapad:</p>
                <p id="TemplateCreated" style="color: #ccc;"></p>
                <!--p id="TemplateModified"></p -->
            </div>

            <button id="btnDeleteTemplate" class="btn btn-danger" style="width: 120px; margin-top: 357px; margin-bottom: 10px; margin-right: 10px;">Radera Modell</button>

        </div>

        <!-- Menu -->
        <div class="col-md-8" style="height: 100%;">

            <div style="margin-top: 20px; padding-left: 10px; padding-top: 10px; padding-bottom: 5px; width: 554px; height: auto; background-color: #333;">

                <div id="TemplateIcons" class="panel" style="width: 520px; height: 480px; background-color: #111; overflow-y: scroll;">

                    <!--
                    <a href="javascript:void(0);">
                        <div id="IconPanel0" class="panel" style="border: 1px solid #000; width: 150px; height: 180px; margin-left: 10px; margin-top: 10px; background-color: #333; display: inline-block;">
                            <canvas id="IconCanvas0" width="140" height="140" style="margin: 4px; background-color: #fff;"></canvas>
                            <p style="margin-left: 10px;">LEAN</p>
                        </div>
                    </a>
                    -->

                </div>

                <canvas id="TemplateCanvas" width="534" height="400" style="display: none;">
                    Your browser doesn't support HTML5 canvas tag.
                </canvas>

                <div id="TemplateSaveControl" class="form-group" style="margin-right: 10px; margin-top: 20px;">

                    <!--
                    <input type="text" maxlength="32" class="form-control" id="inTemplateName" aria-describedby="btnSaveTemplate" placeholder="Beteckning" style="display: inline;">
                    <button type="button" class="btn btn-success" id="btnSaveTemplate" style="margin: 0px; margin-left: 10px; float: right;">Spara</button>
                        -->
                </div>

                <!-- button id="btnCreateWindowProject" class="btn btn-success active" style="width: 120px; margin-bottom: 10px; margin-right: 10px; float: right;">Skapa fönster</!--button>
                <button id="btnCreateDoorProject" class="btn btn-success active" style="width: 120px; margin-bottom: 10px; margin-right: 10px; float: right;">Skapa dörr</button -->

                
            </div>
        </div>


        <!-- HTML5 Canvas -->
        <div class="col-md-2">
                <div id="TemplateIcons2" style="width: 180px; height: 500px; overflow-y: scroll; display: none;">

                <!-- To be used as partial views for the template icons -->
                <!-- <div style="width: 120px; height: 80px; display: inline-block; margin-right: 10px;">
                    <canvas id="test" width="120" height="80" style=""></canvas>
                    <p>ARV2</p>
                </div>-->
                <!-- <p id="output"></p>-->
            </div>
        </div>

    </div>
</div>



<script>

    function basicTemplate() {
        this.id = -1;
    }

    function deleteTemplate() {

        if (confirm("Ta bort Modell?")) {
            $.getJSON("/Template/Delete/" + selectedTemplateId, function (data) {
                if (data == "ok") {
                    alert("Deleted!");
                }
                window.location.replace("/Template/Display");
            });
        }

    }

    //$("#btnDeleteTemplate").click(function () { lbDeleteTemplate(selectedTemplateId); });
    $("#btnDeleteTemplate").click(function () {
        //if (confirm("Vill du radera mallen?")) { 
            //window.location.replace("/Template/Display?deleteTemplateId=" + selectedTemplateId);
            deleteTemplate();
        //}
    });


    $(function () {

        $.getJSON("/Template/GetTemplates/", function (data) {

            //alert(data.length);
            
            templateIconData = data;
            templates = data;

            lbGenerateIcons(data);
            //lbRenderIcon(data);


            lbTemplateUpdateAndRender("");

            // Update initial template selection
            selectedTemplateId = 0;
            lbUpdateSelectedTemplateData(0);
            
            for (var i = 0; i < templates.length; i++) {
                //lbRenderTemplateIcon(0);
                lbRenderTemplateIcon(i);
            }
            
            //lbRenderTemplateIcon(0);
        });

    });

</script>



<script src="~/ScriptsLeiab/TemplateConstants.js"></script>     <!-- Template constants -->

<script src="~/ScriptsLeiab/GenericObjects.js"></script>        <!-- Generic object constructors -->
<script src="~/ScriptsLeiab/TemplateObjects.js"></script> 		<!-- Template object constructors -->

<script src="~/ScriptsLeiab/TemplateGraphics.js"></script> 		<!-- Template 2D render functions -->
<script src="~/ScriptsLeiab/TemplateUpdate.js"></script> 		<!-- Template functions -->
<script src="~/ScriptsLeiab/TemplateIconInit.js"></script>          <!-- Template initiation -->
