
@model LeiabUv.Models.TemplateViewModel

@{
    ViewBag.Title = "ShowTemplates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<!-- 
<script src="~/Scripts/jquery-3.1.0.min.js"></script>
    -->

<div class="container">
    <div class="row">

        <!-- Menu -->
        <div class="col-md-6" style="height: 100%;">

            <div style="margin-top: 20px; padding-left: 10px; padding-top: 10px; padding-bottom: 5px; width: 554px; height: auto; background-color: #333;">

                <canvas id="TemplateCanvas" width="534" height="400">
                    Your browser doesn't support HTML5 canvas tag.
                </canvas>

                <div id="TemplateSaveControl" class="form-group" style="margin-right: 10px; margin-top: 20px; visibility: hidden;">

                    <!--
            <input type="text" maxlength="32" class="form-control" id="inTemplateName" aria-describedby="btnSaveTemplate" placeholder="Beteckning" style="display: inline;">
            <button type="button" class="btn btn-success" id="btnSaveTemplate" style="margin: 0px; margin-left: 10px; float: right;">Spara</button>
                -->
                </div>

                <div style="color: #ccc;">
                    <p id="TemplateName" style="font-weight: bold;"></p>
                    <p id="TemplateCreated" style="color: #ccc;"></p>
                    <p id="TemplateModified"></p>
                </div>
            </div>
        </div>



        <!-- HTML5 Canvas -->
        <div class="col-md-2" style="min-height: 500px; min-width: 584px;">
            <div style="">
                <div id="TemplateIcons" style="width: 180px; height: 500px; overflow-y: scroll;">



                    <!-- To be used as partial views for the template icons -->
                    <!-- <div style="width: 120px; height: 80px; display: inline-block; margin-right: 10px;">
                <canvas id="test" width="120" height="80" style=""></canvas>
                <p>ARV2</p>
            </div>-->
                    <!-- <p id="output"></p>-->

                </div>
            </div>
        </div>


    </div>
</div>



<script>

    $(function () {

        $.getJSON("/Template/GetTemplates/", function (data) {

            //alert(data.length);
            templateIconData = data;

            lbGenerateIcons(data);
            lbRenderIcon(data);

            lbTemplateUpdateAndRender("");
        });

    });

</script>



<script src="~/ScriptsLeiab/TemplateConstants.js"></script>     <!-- Template constants -->

<script src="~/ScriptsLeiab/GenericObjects.js"></script>        <!-- Generic object constructors -->
<script src="~/ScriptsLeiab/TemplateObjects.js"></script> 		<!-- Template object constructors -->

<script src="~/ScriptsLeiab/TemplateGraphics.js"></script> 		<!-- Template 2D render functions -->
<script src="~/ScriptsLeiab/TemplateUpdate.js"></script> 		<!-- Template functions -->
<script src="~/ScriptsLeiab/TemplateIconInit.js"></script>          <!-- Template initiation -->
