@{
    ViewBag.Title = "CreateFromTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Init elements  -->
<!--div style="width: 1200px; background-color: #333;" -->
<div class="container" style="background-color: #333;">

    <div class="row">

        <!-- Project menu -->
        <div class="col-md-2">
            <h3 style="color: #ccc;">Meny</h3>
        </div>

        <!-- Midd section -->
        <div class="col-md-6">

            <!-- First midd column -->
            <div class="col-md-6">

                <h4 id="titleProject" style="color: #ccc;"></h4>

                <!-- Parts information -->
                <table style="color: #ccc; display: inline-block;">
                    <tr style="border: 1px solid #ccc;"> <td style="width: 120px; border-right: 1px solid #ccc;">Total Area</td> <td style="width: 140px; text-align: right; padding-right: 5px;" id="totalArea">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Glas Area</td> <td style="text-align: right; padding-right: 5px;" id="paneArea">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Total omkrets</td> <td style="text-align: right; padding-right: 5px;" id="totalCircum">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Karm omkrets</td> <td style="text-align: right; padding-right: 5px;" id="frameCircum">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Post omkrets</td> <td style="text-align: right; padding-right: 5px;" id="postCircum">0</td> </tr>
                </table>

                <h4 style="color: #ccc;">Karm</h4>
                <table style="color: #ccc; display: inline-block;">
                    <tr style="border: 1px solid #ccc;"> <td style="width: 120px; border-right: 1px solid #ccc;">Övre</td> <td style="width: 140px; text-align: right; padding-right: 5px;" id="frameTop">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Nedre</td> <td style="width: 60px; text-align: right; padding-right: 5px;" id="frameBottom">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Vänstra</td> <td style="width: 60px; text-align: right; padding-right: 5px;" id="frameLeft">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Högra</td> <td style="width: 60px; text-align: right; padding-right: 5px;" id="frameRight">0</td> </tr>
                </table>

                <h4 style="color: #ccc;">Post</h4>
                <table style="color: #ccc; display: inline-block;">
                    <tr style="border: 1px solid #ccc;"> <td style="width: 120px; border-right: 1px solid #ccc;">Övre</td> <td style="width: 140px; text-align: right; padding-right: 5px;" id="postTop">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Nedre</td> <td style="width: 60px; text-align: right; padding-right: 5px;" id="postBottom">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Vänstra</td> <td style="width: 60px; text-align: right; padding-right: 5px;" id="postLeft">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Högra</td> <td style="width: 60px; text-align: right; padding-right: 5px;" id="postRight">0</td> </tr>
                </table>

                <br />
                <br />
                <br />

                <!-- Product selection and custom Ug -->
                <div style="display: inline-block; vertical-align: top;">
                    <span>
                        <label style="vertical-align: top; color: #ccc; width: 60px;">Produkt</label>
                        <select id="productList" class="form-control" style="vertical-align: top; display: inline-block; width: 160px; color: #000;">
                            <option value="-1">-</option>
                        </select>
                    </span>

                    <br />

                    <span>
                        <label style="vertical-align: top; color: #ccc; width: 60px;">Ug</label>
                        <input id="paneUg" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;" />
                    </span>

                    <br />

                    <button id="btnProductUpdate" class="btn btn-default">Uppdatera</button>
                    <button id="btnProductUpdateAll" class="btn btn-default" style="width: 117px; margin-left: 10px;">Uppdatera Alla</button>

                </div>

            </div>

            <!-- Second midd column -->
            <div class="col-md-6">
                <h4 style="color: #ccc;">Produkt</h4>

                <!-- Top product values -->
                <table id="FrameTableTop" style="display: inline-block; color: #ccc; margin-left: 64px;">
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tf</td>
                        <td class="FrameTf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Uf</td>
                        <td class="FrameUf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψf</td>
                        <td class="FrameYf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                </table>

                <table id="PostTableTop" style="display: inline-block; color: #ccc; display: none; margin-left: 64px;">
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tp</td>
                        <td class="PostTp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Up</td>
                        <td class="PostUp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψp</td>
                        <td class="PostYp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                </table>

                <!-- Left product values -->
                <table id="FrameTableLeft" style="display: inline-block; color: #ccc;">
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tf</td>
                        <td class="FrameTf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Uf</td>
                        <td class="FrameUf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψf</td>
                        <td class="FrameYf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                </table>

                <table id="PostTableLeft" style="display: inline-block; color: #ccc; display: none;">
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tp</td>
                        <td class="PostTp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Up</td>
                        <td class="PostUp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψp</td>
                        <td class="PostYp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                </table>

                <!-- Right product values -->
                <table id="FrameTableRight" style="display: inline-block; color: #ccc; margin-left: 32px;">
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tf</td>
                        <td class="FrameTf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Uf</td>
                        <td class="FrameUf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψf</td>
                        <td class="FrameYf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                </table>

                <table id="PostTableRight" style="display: inline-block; color: #ccc; display: none; margin-left: 32px;">
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tp</td>
                        <td class="PostTp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Up</td>
                        <td class="PostUp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψp</td>
                        <td class="PostYp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                </table>

                <!-- Bottom product values -->
                <table id="FrameTableBottom" style="display: inline-block; color: #ccc; margin-left: 64px;">
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tf</td>
                        <td class="FrameTf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Uf</td>
                        <td class="FrameUf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψf</td>
                        <td class="FrameYf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                </table>

                <table id="PostTableBottom" style="display: inline-block; color: #ccc; display: none; margin-left: 64px;">
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tp</td>
                        <td class="PostTp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Up</td>
                        <td class="PostUp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψp</td>
                        <td class="PostYp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                    </tr>
                </table>

                <br />
                <br />
                <br />

                <!-- Uv table and update button -->
                <table style="display: inline-block; color: #ccc;">
                    <tr style="border: 1px solid #ccc;">
                        <td style="width: 160px; text-align: center;">
                            <h3 style="margin: 5px; padding: 0px;">U-värde</h3>
                        </td>
                    </tr>
                    <tr style="border: 1px solid #ccc;">
                        <td style="text-align: center;">
                            <h3 id="totalUValue" style="margin: 5px; padding: 0px; display: inline-block;">-</h3>
                            <h3 style="margin: 5px; padding: 0px; display: inline-block;">W/m²K</h3>
                        </td>
                    </tr>
                </table>

                <button id="btnUpdateUValue" class="btn btn-danger" style="width: 160px;">Uppdatera</button>

            </div>

        </div>

        <!-- Pane selection, frame and pane dimensions -->
        <div class="col-md-3">
            <h3 style="color: #ccc;">Luft & Karm</h3>

            <canvas id="PaneSelectCanvas" width="350" height="370"></canvas>

            <label id="paneLabel" style="display: none; color: #ccc;">Postplacering</label><br />
            <span id="paneX" style="display: none;"><label style="color: #ccc; width: 50px;">X: </label><input id="paneWidth" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 0px; margin-bottom: 10px;" /><label id="lblPaneWidth" style="margin-left: 10px; color: #ccc;"> mm</label></span><br id="paneBrX" style="display: none;" />
            <span id="paneY" style="display: none;"><label style="color: #ccc; width: 50px;">Y: </label><input id="paneHeight" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 0px; margin-bottom: 10px;" /><label id="lblPaneHeight" style="margin-left: 10px; color: #ccc;"> mm</label></span><br id="paneBrY" style="display: none;" />
            <button id="btnPaneDimensionsUpdate" style="display: none; " class="btn btn-default">Uppdatera</button>

            <br />

            <label style="color: #ccc;">Karmmått</label><br />
            <span><label style="color: #ccc; width: 50px;">Bredd: </label><input id="frameWidth" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 0px; margin-bottom: 10px;" /><label id="lblFrameWidth" style="margin-left: 10px; color: #ccc;"> mm</label></span><br>
            <span><label style="color: #ccc; width: 50px;">Höjd: </label><input id="frameHeight" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 0px; margin-bottom: 10px;" /><label id="lblFrameHeight" style="margin-left: 10px; color: #ccc;"> mm</label></span>
            <br />
            <button id="btnFrameDimensionsUpdate" class="btn btn-default">Uppdatera</button>

            <br />
            <br />
            <br />
        </div>

    </div>

</div>


<script src="~/ScriptsLeiab/ProjectConstants.js"></script>      <!-- Project constants -->

<script src="~/ScriptsLeiab/GenericObjects.js"></script>        <!-- Generic objects constructors -->
<script src="~/ScriptsLeiab/ProjectObjects.js"></script>        <!-- Project objects constructors -->

<script src="~/ScriptsLeiab/ProjectGraphics.js"></script>       <!-- Project graphics functions -->
<script src="~/ScriptsLeiab/ProjectUpdate.js"></script>         <!-- Project update functions -->

<script src="~/ScriptsLeiab/ProjectInit.js"></script>          <!-- Project initiation -->


<script>

    $(function () {

        // This getJSON thing initiates project/entry ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ### ###
        // But it should be handled in another manner
        //$.getJSON("/Project/GetTemplate?id=" + @ViewBag.TemplateId, function (data) {

            //selector = new lbPaneSelector(data);        // Init pane selector object

            //entry = new lbProjectEntry(data);              // Init project object
            //entry = new lbProjectEntry(data);              // Init project object

            //lbUpdatePaneDimensions();                   // Update project pane dimensions

            //$("#paneWidth").val(lbGetSelectedPaneWidth());     // Update pane dimensions
            //$("#paneHeight").val(lbGetSelectedPaneHeight());

            //$("#frameWidth").val(lbGetFrameWidth());
            //$("#frameHeight").val(lbGetFrameHeight());

            //$("#paneUg").val(lbGetSelectedUg());
        //});


        // Update project title

        //if(@ViewBag.ProjectType == 1) {
        //    $("#titleProject").text("Fönster");
        //} else {
        //    $("#titleProject").text("Dörr");
        //}

        // Populate product select list
        $.getJSON("/Project/GetProducts/?window=" + @ViewBag.ProjectType, function (data) {
            //alert(data.length);
            products = data;

            lbInitProductLists();               // Update product lists

            lbUpdateFrameAndPostTables();       // Update frame/post tables

            /*
            for(var i = 0; i < data.length; i ++) {
                $("#productList").append(
                    $('<option/>', {
                        value: data[i].Id,      // Need to find out how to get this value on select list change
                        text: "[" + data[i].Name + "], [" + data[i].Glass + "]"
                        //text: "[" + data[i].Name + "], [" + data[i].Glass + "]" + " Ug: " + data[i].Ug
                    }));
                //alert("Val: " + data[i].Id);
                //alert("Name: " + data[i].Name);
            }*/
        });
    });

</script>


<!-- From entry 40bc93d, Views/Project/Create.cshtml 19.1 kb - Commits on Aug 21, 2017 -->

