@model LeiabUv.Models.TemplateViewModel


<div style="width: 120px; height: 80px; display: inline-block; margin-right: 10px;">
    <canvas id="test" width="120" height="80" style=""></canvas>
    <p>@Model.Name</p>
</div>


