
@{
    ViewBag.Title = "CreateFromTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Init elements  -->

<div class="container">
    <div class="row">

        <!-- Menu -->
        <!--div class="col-md-2" style="height: 100%;">

            <div style="float: right; margin-top: 20px; padding-left: 10px; padding-top: 10px; width: 140px; height: 320px; background-color: #333;">

                <h4 style="color: #ccc">Meny</h4>

            </div>
        </!--div>



        <!-- HTML5 Canvas -->
        <div class="col-md-8" style="width: 700px;">
        <!-- >div class="col-md-8" style="min-height: 500px; min-width: 584px;" -->



                <div style="margin-top: 20px; padding-left: 10px; padding-top: 10px; padding-bottom: 5px; width: 680px; height: auto; background-color: #333;">

                    <h4 id="titleProject" style="color: #ccc;"></h4>

                    <!-- Project rendering -->
                    <canvas id="ProjectCanvas" width="534" height="534" style="visibility: visible;">
                        <!-- >canvas id="ProjectCanvas" width="534" height="534" style="visibility: visible;" -->
                        Your browser doesn't support HTML5 canvas tag.
                    </canvas>

                    <!--form-->
                    <!-- div class="form-group" -->
                    <br />
                    <span>
                        <label style="color: #ccc; width: 60px;">Produkt</label>
                        <select id="profileList" class="form-control" style="display: inline-block; width: 160px; color: #000;">
                            <option value="-1">-</option>
                        </select>

                        <div style="border: 1px solid #ccc; border-top-width: 4px; width: 23px; height: 23px; margin-left: 16px; display: inline-block;">
                            <span class="glyphicon glyphicon-arrow-up" style="color: #ccc; margin-left: 3px;"></span>
                        </div>
                        <div style="color: #ccc; display: inline-block;">up</div>

                        <div style="border: 1px solid #ccc; border-left-width: 4px; width: 23px; height: 23px; margin-left: 16px; display: inline-block;">
                            <span class="glyphicon glyphicon-arrow-left" style="color: #ccc; margin-left: 3px;"></span>
                        </div>
                        <div style="color: #ccc; display: inline-block;">left</div>

                    </span>

                    <br />

                    <!-- >label style="color: #ccc;">Ug</!--label><br / -->
                    <span>
                        <label style="color: #ccc; width: 60px;">Ug</label>
                        <input id="paneUg" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;" />
                        <!--<input id="paneWidth" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;" />-->
                        <!-- label id="lblPaneWidth" style="margin-left: 10px; color: #ccc;"> mm</!--label -->

                        <div style="border: 1px solid #ccc; border-bottom-width: 4px; width: 23px; height: 23px; margin-left: 16px; display: inline-block;">
                            <span class="glyphicon glyphicon-arrow-down" style="color: #ccc; margin-left: 3px;"></span>
                        </div>
                        <div style="color: #ccc; display: inline-block;">down</div>


                        <div style="border: 1px solid #ccc; border-right-width: 4px; width: 23px; height: 23px; margin-left: 16px; display: inline-block;">
                            <span class="glyphicon glyphicon-arrow-right" style="color: #ccc; margin-left: 3px;"></span>
                        </div>
                        <div style="color: #ccc; display: inline-block;">right</div>

                    </span>
                    <br />

                    <button id="btnProfileUpdate" class="btn btn-default">Uppdatera</button>
                    <button id="btnProfileUpdateAll" class="btn btn-default" style="width: 117px;">Uppdatera Alla</button>
                    <button id="btnTestAreaParts" class="btn btn-success" style="width: 130px; float: right; margin-right: 20px;">Testa Area Parts</button>

                    <!-- label id="scrollTopper" style="color: #ccc;">awe</!--label -->
                </div>

            </div>



        <!-- Controls -->
        <div class="col-md-4" >

            <div style="float: right; margin-top: 20px; padding-left: 10px; padding-top: 10px; width: 370px; height: 780px; background-color: #333;">

                <h4 style="color: #ccc">Luftval</h4>

                <!-- Pane selection canvas -->
                <canvas id="PaneSelectCanvas" width="350" height="370"></canvas>

                <!--button id="btnSelectProfiles" class="btn btn-success" style="float: right;">Välj profiler</button -->

                <!--
                <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    -->

                <!-- Pane width/height input -->
                <label style="color: #ccc;">Postplacering</label><br />
                <span><label style="color: #ccc; width: 50px;">X: </label><input id="paneWidth" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;"/><label id="lblPaneWidth" style="margin-left: 10px; color: #ccc;"> mm</label></span><br>
                <span><label style="color: #ccc; width: 50px;">Y: </label><input id="paneHeight" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 0px; margin-bottom: 10px;"/><label id="lblPaneHeight" style="margin-left: 10px; color: #ccc;"> mm</label></span>
                <br />
                <button id="btnPaneDimensionsUpdate" class="btn btn-default">Uppdatera</button>

                <br/>

                <!-- Frame width/height input -->
                <label style="color: #ccc;">Karmmått</label><br/>
                <span><label style="color: #ccc; width: 50px;">Bredd: </label><input id="frameWidth" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;" /><label id="lblFrameWidth" style="margin-left: 10px; color: #ccc;"> mm</label></span><br>
                <span><label style="color: #ccc; width: 50px;">Höjd: </label><input id="frameHeight" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 0px; margin-bottom: 10px;" /><label id="lblFrameHeight" style="margin-left: 10px; color: #ccc;"> mm</label></span>
                <br />
                <button id="btnFrameDimensionsUpdate" class="btn btn-default">Uppdatera</button>
                
            </div>
        </div>
    </div>
</div>


<script src="~/ScriptsLeiab/ProjectConstants.js"></script>      <!-- Project constants -->

<script src="~/ScriptsLeiab/GenericObjects.js"></script>        <!-- Generic objects constructors -->
<script src="~/ScriptsLeiab/ProjectObjects.js"></script>        <!-- Project objects constructors -->

<script src="~/ScriptsLeiab/ProjectGraphics.js"></script>       <!-- Project graphics functions -->
<script src="~/ScriptsLeiab/ProjectUpdate.js"></script>         <!-- Project update functions -->

<script src="~/ScriptsLeiab/ProjectInit.js"></script>          <!-- Project initiation -->


<script>

    $(function () {

        $.getJSON("/Project/GetTemplate?id=" + @ViewBag.TemplateId, function (data) {

            selector = new lbPaneSelector(data);        // Init pane selector object

            project = new lbProject(data);              // Init project object

            //lbUpdatePaneDimensions();                   // Update project pane dimensions

            $("#paneWidth").val(lbGetSelectedPaneWidth());     // Update pane dimensions
            $("#paneHeight").val(lbGetSelectedPaneHeight());

            $("#frameWidth").val(lbGetFrameWidth());
            $("#frameHeight").val(lbGetFrameHeight());

            $("#paneUg").val(lbGetSelectedUg());
        });

        // Update project title
        if(@ViewBag.ProjectType == 1) {
            $("#titleProject").text("Fönster");
        } else {
            $("#titleProject").text("Dörr");
        }

        // Populate profile select list
        $.getJSON("/Project/GetProfiles/?window=" + @ViewBag.ProjectType, function (data) {
            //alert(data.length);
            profiles = data;

            lbInitProfileLists();               // Update profile lists

            /*
            for(var i = 0; i < data.length; i ++) {

                $("#profileList").append(
                    $('<option/>', {
                        value: data[i].Id,      // Need to find out how to get this value on select list change
                        text: "[" + data[i].Name + "], [" + data[i].Glass + "]"
                        //text: "[" + data[i].Name + "], [" + data[i].Glass + "]" + " Ug: " + data[i].Ug
                    }));

                //alert("Val: " + data[i].Id);
                //alert("Name: " + data[i].Name);
            }*/
        });
    });

</script>

