
@{
    ViewBag.Title = "CreateFromTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projekt Editor</h2>

<!-- <h4>Template ID: ViewBag.TemplateId</h4> -->

<!-- Init elements  -->

<div class="container">
    <div class="row">

        <!-- Menu -->
        <!--div class="col-md-2" style="height: 100%;">

            <div style="float: right; margin-top: 20px; padding-left: 10px; padding-top: 10px; width: 140px; height: 320px; background-color: #333;">

                <h4 style="color: #ccc">Meny</h4>

            </div>
        </!--div>



        <!-- HTML5 Canvas -->
        <div class="col-md-8" style="min-height: 500px; min-width: 584px;">

            <div style="margin-top: 20px; padding-left: 10px; padding-top: 10px; padding-bottom: 5px; width: 554px; height: auto; background-color: #333;">

                <!-- Project rendering -->
                <canvas id="ProjectCanvas" width="534" height="534" style="visibility: visible;">
                    Your browser doesn't support HTML5 canvas tag.
                </canvas>

            </div>
        </div>


        <!-- Controls -->
        <div class="col-md-3" style="min-height: 700px;">

            <div style="float: right; margin-top: 20px; padding-left: 10px; padding-top: 10px; width: 320px; height: 500px; background-color: #333;">

                <h4 style="color: #ccc">Luft val</h4>

                <!-- Pane selection canvas -->
                <canvas id="PaneSelectCanvas" width="300" height="300"></canvas>

                <!--button id="btnSelectProfiles" class="btn btn-success" style="float: right;">Välj profiler</button -->

                <!--
                <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    -->

                <label style="color: #ccc;">Mått</label><br />
                <span><label style="color: #ccc; width: 50px;">Bredd: </label><input id="paneWidth" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;"/><label style="margin-left: 10px; color: #ccc;"> mm</label></span><br>
                <span><label style="color: #ccc; width: 50px;">Höjd: </label><input id="paneHeight" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 0px; margin-bottom: 10px;"/><label style="margin-left: 10px; color: #ccc;"> mm</label></span>
                <button id="btnPaneDimensionsUpdate" class="btn btn-success">Uppdatera</button>
            </div>
        </div>
    </div>

    <div class="row">
        <button id="btnShowFrameSettings" class="btn btn-success">Karm värden</button>
        <button id="btnShowPaneSettings" class="btn btn-success">Luft värden</button>
    </div>

    <!-- Frame settings -->
    <div id="FrameSettings" class="row">

        <div class="col-md-3" style="max-width: 220px; height: 160px; color: #ddd; background-color: #333;">
            <h4>Karm dimensioner</h4>
            <span>
                <label style="width: 40px;">Bredd</label>
                <input id="FrameWidth" type="number" value="0" min="0" name="FrameWidth" 
                       style="text-align: right; color: #000; width: 100px; margin-left: 10px; margin-bottom: 10px;" /> mm
            </span></br>
            <span>
                <label style="width: 40px;">Höjd</label>

                <input id="FrameHeight" type="number" value="0" min="0" name="FrameHeight" 
                       style="text-align: right; color: #000; width: 100px; margin-left: 10px; margin-bottom: 10px;" /> mm
            </span>
            <button id="btnUpdateFrameDimensions" class="btn btn-success" style="width: 130px; margin-bottom: 10px; margin-left: 49px;">Uppdatera</button>
        </div>


        <div class="col-md-6" style="height: 160px; color: #ddd; background-color: #333;">

            <h4>Karm Profiler</h4>
            <span>
                <label style="width: 50px;">Övre</label>
                <select style="width: 160px; color: #000;">
                    <option value="LFT">LFT</option>
                    <option value="CDF">CDF</option>
                </select>

                <label style="width: 50px; margin-left: 20px;">Vänster</label>
                <select style="width: 160px; color: #000;">
                    <option value="LFT">LFT</option>
                    <option value="CDF">CDF</option>
                </select>

                </br>

                <label style="width: 50px;">Nedre</label>
                <select style="width: 160px; color: #000;">
                    <option value="LFT">LFT</option>
                    <option value="CDF">CDF</option>
                </select>

                <label style="width: 50px; margin-left: 20px;">Höger</label>
                <select style="width: 160px; color: #000;">
                    <option value="LFT">LFT</option>
                    <option value="CDF">CDF</option>
                </select>
            </span>

        </div>

    </div>

    </br>
    </br>

    <!-- Pane settings -->
    <div id="PaneSettings" class="row">

        <div class="col-md-3" style="max-width: 220px; height: 160px; color: #ddd; background-color: #333;">
            <h4>Luft dimensioner</h4>
            <span>
                <label style="width: 40px;">Bredd</label>
                <input id="FrameWidth" type="number" value="0" min="0" name="FrameWidth" 
                       style="text-align: right; color: #000; width: 100px; margin-left: 10px; margin-bottom: 10px;" /> mm
            </span></br>
            <span>
                <label style="width: 40px;">Höjd</label>
                <input id="FrameHeight" type="number" value="0" min="0" name="FrameHeight" 
                       style="text-align: right; color: #000; width: 100px; margin-left: 10px; margin-bottom: 10px;" /> mm
            </span>
            <button id="btnUpdateFrameDimensions" class="btn btn-success" style="width: 130px; margin-bottom: 10px; margin-left: 49px;">Uppdatera</button>
        </div>


        <div class="col-md-6" style="height: 160px; color: #ddd; background-color: #333;">

            <h4>Luft Profiler</h4>
            <span>
                <label style="width: 50px;">Övre</label>
                <select style="width: 160px; color: #000;">
                    <option value="LFT">LFT</option>
                    <option value="CDF">CDF</option>
                </select>

                <label style="width: 50px; margin-left: 20px;">Vänster</label>
                <select style="width: 160px; color: #000;">
                    <option value="LFT">LFT</option>
                    <option value="CDF">CDF</option>
                </select>

                </br>

                <label style="width: 50px;">Nedre</label>
                <select style="width: 160px; color: #000;">
                    <option value="LFT">LFT</option>
                    <option value="CDF">CDF</option>
                </select>

                <label style="width: 50px; margin-left: 20px;">Höger</label>
                <select style="width: 160px; color: #000;">
                    <option disabled style="color: #000;">Senast använda</option>
                    <option value="LFT">LFT</option>
                    <option disabled>---</option>
                    <option value="CDF">CDF</option>
                </select>
            </span>

        </div>

    </div>
</div>


<script src="~/ScriptsLeiab/ProjectConstants.js"></script>      <!-- Project constants -->

<script src="~/ScriptsLeiab/GenericObjects.js"></script>        <!-- Generic objects constructors -->
<script src="~/ScriptsLeiab/ProjectObjects.js"></script>        <!-- Project objects constructors -->

<script src="~/ScriptsLeiab/ProjectGraphics.js"></script>       <!-- Project graphics functions -->
<script src="~/ScriptsLeiab/ProjectUpdate.js"></script>         <!-- Project update functions -->

<script src="~/ScriptsLeiab/ProjectInit.js"></script>          <!-- Project initiation -->


<script>

    $(function () {

        $.getJSON("/Project/GetTemplate?id=" + @ViewBag.TemplateId, function (data) {

            selector = new lbPaneSelector(data);        // Init pane selector object

            project = new lbProject(data);              // Init project object

            //lbUpdatePaneDimensions();                   // Update project pane dimensions
            
            $("#paneWidth").val(lbGetSelectedPaneWidth());     // Update pane dimensions
            $("#paneHeight").val(lbGetSelectedPaneHeight());
        });
    });

</script>



