
@{
    ViewBag.Title = "CreateSelectTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">


        <!-- HTML5 Canvas -->
        <div class="col-md-6" style="min-height: 500px; min-width: 584px;">

            <div style="margin-top: 20px; padding-left: 10px; padding-top: 10px; padding-bottom: 5px; width: 554px; height: auto; background-color: #333;">

                <h4 style="color: #ccc">Skapa Projekt</h4>
                
                <button id="btnSelectTemplate" class="btn btn-success active" style="width: 120px; margin-bottom: 10px; margin-right: 10px;">Välj Modell</button>

            </div>
        </div>

    </div>
</div>


<script src="~/ScriptsLeiab/ProjectConstants.js"></script>      <!-- Project constants -->

<script src="~/ScriptsLeiab/GenericObjects.js"></script>        <!-- Generic objects constructors -->
<script src="~/ScriptsLeiab/ProjectObjects.js"></script>        <!-- Project objects constructors -->

<script src="~/ScriptsLeiab/ProjectGraphics.js"></script>       <!-- Project graphics functions -->
<script src="~/ScriptsLeiab/ProjectUpdate.js"></script>         <!-- Project update functions -->

<script src="~/ScriptsLeiab/ProjectInit.js"></script>          <!-- Project initiation -->

