
@{
    ViewBag.Title = "CreateFromTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="titleProject"></h2>

<!-- Init elements  -->

<div class="container">
    <div class="row">

        <!-- Menu -->
        <!--div class="col-md-2" style="height: 100%;">

            <div style="float: right; margin-top: 20px; padding-left: 10px; padding-top: 10px; width: 140px; height: 320px; background-color: #333;">

                <h4 style="color: #ccc">Meny</h4>

            </div>
        </!--div>



        <!-- HTML5 Canvas -->
        <div class="col-md-8" style="min-height: 500px; min-width: 584px;">

            <div style="margin-top: 20px; padding-left: 10px; padding-top: 10px; padding-bottom: 5px; width: 554px; height: auto; background-color: #333;">

                <!-- Project rendering -->
                <canvas id="ProjectCanvas" width="534" height="534" style="visibility: visible;">
                    Your browser doesn't support HTML5 canvas tag.
                </canvas>

                <!--form-->
                <!-- div class="form-group" -->
                <span>
                    <label style="color: #ccc; width: 50px;">Profil</label>
                    <select id="profileList" class="form-control" style="display: inline-block; width: 160px; color: #000;">
                        <option>Null</option>
                    </select>
                </span>

                <br />

                <!-- >label style="color: #ccc;">Ug</!--label><br / -->
                <span>
                    <label style="color: #ccc; width: 50px;">Ug</label>
                    <input id="paneUg" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;" />
                    <!--<input id="paneWidth" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;" />-->
                    <!-- label id="lblPaneWidth" style="margin-left: 10px; color: #ccc;"> mm</!--label -->
                </span>
                <br />

                <button id="btnProfileUpdate" class="btn btn-default">Uppdatera</button>
            </div>
            
        </div>



        <!-- Controls -->
        <div class="col-md-3" style="min-height: 1200px;">

            <div style="float: right; margin-top: 20px; padding-left: 10px; padding-top: 10px; width: 320px; height: 1000px; background-color: #333;">

                <h4 style="color: #ccc">Luft val</h4>

                <!-- Pane selection canvas -->
                <canvas id="PaneSelectCanvas" width="300" height="320"></canvas>

                <!--button id="btnSelectProfiles" class="btn btn-success" style="float: right;">Välj profiler</button -->

                <!--
                <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    -->

                <!-- Pane width/height input -->
                <label style="color: #ccc;">Luft mått</label><br />
                <span><label style="color: #ccc; width: 50px;">Bredd: </label><input id="paneWidth" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;"/><label id="lblPaneWidth" style="margin-left: 10px; color: #ccc;"> mm</label></span><br>
                <span><label style="color: #ccc; width: 50px;">Höjd: </label><input id="paneHeight" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 0px; margin-bottom: 10px;"/><label id="lblPaneHeight" style="margin-left: 10px; color: #ccc;"> mm</label></span>
                <button id="btnPaneDimensionsUpdate" class="btn btn-default">Uppdatera</button>

                <br/>

                <!-- Frame width/height input -->
                <label style="color: #ccc;">Karm mått</label><br/>
                <span><label style="color: #ccc; width: 50px;">Bredd: </label><input id="frameWidth" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;" /><label id="lblFrameWidth" style="margin-left: 10px; color: #ccc;"> mm</label></span><br>
                <span><label style="color: #ccc; width: 50px;">Höjd: </label><input id="frameHeight" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 0px; margin-bottom: 10px;" /><label id="lblFrameHeight" style="margin-left: 10px; color: #ccc;"> mm</label></span>
                <button id="btnFrameDimensionsUpdate" class="btn btn-default">Uppdatera</button>

            </div>
        </div>
    </div>
</div>


<script src="~/ScriptsLeiab/ProjectConstants.js"></script>      <!-- Project constants -->

<script src="~/ScriptsLeiab/GenericObjects.js"></script>        <!-- Generic objects constructors -->
<script src="~/ScriptsLeiab/ProjectObjects.js"></script>        <!-- Project objects constructors -->

<script src="~/ScriptsLeiab/ProjectGraphics.js"></script>       <!-- Project graphics functions -->
<script src="~/ScriptsLeiab/ProjectUpdate.js"></script>         <!-- Project update functions -->

<script src="~/ScriptsLeiab/ProjectInit.js"></script>          <!-- Project initiation -->


<script>

    $(function () {

        $.getJSON("/Project/GetTemplate?id=" + @ViewBag.TemplateId, function (data) {

            selector = new lbPaneSelector(data);        // Init pane selector object

            project = new lbProject(data);              // Init project object

            //lbUpdatePaneDimensions();                   // Update project pane dimensions

            $("#paneWidth").val(lbGetSelectedPaneWidth());     // Update pane dimensions
            $("#paneHeight").val(lbGetSelectedPaneHeight());

            $("#frameWidth").val(lbGetFrameWidth());
            $("#frameHeight").val(lbGetFrameHeight());

            $("#paneUg").val(lbGetSelectedUg());
        });

        // Update project title
        if(@ViewBag.ProjectType == 1) {
            $("#titleProject").text("Fönster");
        } else {
            $("#titleProject").text("Dörr");
        }

        // Populate profile select list
        $.getJSON("/Project/GetProfiles/?window=" + @ViewBag.ProjectType, function (data) {
            //alert(data.length);

            for(var i = 0; i < data.length; i ++) {

                $("#profileList").append(
                    $('<option/>', {
                        value: data[i].Id,      // Need to find out how to get this value on select list change
                        text: "[" + data[i].Name + "], [" + data[i].Glass + "]"
                        //text: "[" + data[i].Name + "], [" + data[i].Glass + "]" + " Ug: " + data[i].Ug
                    }));

                //alert("Val: " + data[i].Id);
                //alert("Name: " + data[i].Name);
            }
        });
    });

</script>

