
@{
    ViewBag.Title = "CreateFromTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Init elements  -->

<div class="container">
    <div class="row">

        <!-- Menu -->
        <!--div class="col-md-2" style="height: 100%;">

            <div style="float: right; margin-top: 20px; padding-left: 10px; padding-top: 10px; width: 140px; height: 320px; background-color: #333;">

                <h4 style="color: #ccc">Meny</h4>

            </div>
        </!--div>



        <!-- HTML5 Canvas -->
        <div class="col-md-8" style="width: 700px;">
        <!-- >div class="col-md-8" style="min-height: 500px; min-width: 584px;" -->



            <div style="margin-top: 20px; padding-left: 10px; padding-top: 10px; padding-bottom: 5px; width: 680px; height: auto; background-color: #333;">

                <h4 id="titleProject" style="color: #ccc;"></h4>

                <!-- Project rendering -->
                <canvas id="ProjectCanvas" width="534" height="534" style="visibility: visible; display: none;">
                    <!-- >canvas id="ProjectCanvas" width="534" height="534" style="visibility: visible;" -->
                    Your browser doesn't support HTML5 canvas tag.
                </canvas>

                <!-- Parts debug -->
                <h4 style="color: #ccc;">Misc</h4>
                <table style="color: #ccc; display: inline-block;">
                    <tr style="border: 1px solid #ccc;"> <td style="width: 120px; border-right: 1px solid #ccc;">Total Area</td> <td style="width: 140px; text-align: right; padding-right: 5px;" id="totalArea">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Pane Area</td> <td style="text-align: right; padding-right: 5px;" id="paneArea">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Total Circum</td> <td style="text-align: right; padding-right: 5px;" id="totalCircum">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Frame Circum</td> <td style="text-align: right; padding-right: 5px;" id="frameCircum">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Post Circum</td> <td style="text-align: right; padding-right: 5px;" id="postCircum">0</td> </tr>
                </table>

                
                <h4 style="color: #ccc;">Frame</h4>
                <table style="color: #ccc; display: inline-block;">
                    <tr style="border: 1px solid #ccc;"> <td style="width: 120px; border-right: 1px solid #ccc;">Top</td> <td style="width: 140px; text-align: right; padding-right: 5px;" id="frameTop">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Bottom</td> <td style="width: 60px; text-align: right; padding-right: 5px;" id="frameBottom">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Left</td> <td style="width: 60px; text-align: right; padding-right: 5px;" id="frameLeft">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Right</td> <td style="width: 60px; text-align: right; padding-right: 5px;" id="frameRight">0</td> </tr>
                </table>

                <h4 style="color: #ccc;">Post</h4>
                <table style="color: #ccc; display: inline-block;">
                    <tr style="border: 1px solid #ccc;"> <td style="width: 120px; border-right: 1px solid #ccc;">Top</td> <td style="width: 140px; text-align: right; padding-right: 5px;" id="postTop">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Bottom</td> <td style="width: 60px; text-align: right; padding-right: 5px;" id="postBottom">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Left</td> <td style="width: 60px; text-align: right; padding-right: 5px;" id="postLeft">0</td> </tr>
                    <tr style="border: 1px solid #ccc;"> <td style="border-right: 1px solid #ccc;">Right</td> <td style="width: 60px; text-align: right; padding-right: 5px;" id="postRight">0</td> </tr>
                </table>

                <br />

                    <!--
        <table id="FrameTableBottom" style="display: inline-block; color: #ccc;">
            <tr style="border: 1px solid #ccc;">
                <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tf</td>
                -->

                    <br />

                    <div style="width: 100%;">
                        <!--Product, Ug and Update-->
                        <div style="display: inline-block; vertical-align: top;">
                            <span>
                                <label style="vertical-align: top; color: #ccc; width: 60px;">Produkt</label>
                                <select id="productList" class="form-control" style="vertical-align: top; display: inline-block; width: 160px; color: #000;">
                                    <option value="-1">-</option>
                                </select>
                            </span>

                            <br />

                            <span>
                                <label style="vertical-align: top; color: #ccc; width: 60px;">Ug</label>
                                <input id="paneUg" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;" />
                                <!--<input id="paneWidth" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;" />-->
                                <!-- label id="lblPaneWidth" style="margin-left: 10px; color: #ccc;"> mm</!--label -->
                            </span>

                            <br />


                        </div>

                        <div style="display: inline-block; float: right; margin-right: 16px;">

                            <div style="vertical-align: top; border: 1px solid #ccc; border-top-width: 4px; width: 23px; height: 23px; margin-left: 16px; display: inline-block;">
                                <span class="glyphicon glyphicon-arrow-up" style="color: #ccc; margin-left: 3px;"></span>
                            </div>
                            <table id="FrameTableTop" style="display: inline-block; color: #ccc;">
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tf</td>
                                    <td class="FrameTf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Uf</td>
                                    <td class="FrameUf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψf</td>
                                    <td class="FrameYf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                            </table>

                            <table id="PostTableTop" style="display: inline-block; color: #ccc; display: none;">
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tp</td>
                                    <td class="PostTp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Up</td>
                                    <td class="PostUp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψp</td>
                                    <td class="PostYp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                            </table>

                            <div style="vertical-align: top; border: 1px solid #ccc; border-left-width: 4px; width: 23px; height: 23px; margin-left: 16px; display: inline-block;">
                                <span class="glyphicon glyphicon-arrow-left" style="color: #ccc; margin-left: 3px;"></span>
                            </div>
                            <table id="FrameTableLeft" style="display: inline-block; color: #ccc;">
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tf</td>
                                    <td class="FrameTf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Uf</td>
                                    <td class="FrameUf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψf</td>
                                    <td class="FrameYf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                            </table>

                            <table id="PostTableLeft" style="display: inline-block; color: #ccc; display: none;">
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tp</td>
                                    <td class="PostTp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Up</td>
                                    <td class="PostUp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψp</td>
                                    <td class="PostYp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                            </table>

                            <br />

                            <div style="vertical-align: top; border: 1px solid #ccc; border-bottom-width: 4px; width: 23px; height: 23px; margin-left: 16px; display: inline-block;">
                                <span class="glyphicon glyphicon-arrow-down" style="color: #ccc; margin-left: 3px;"></span>
                            </div>
                            <table id="FrameTableBottom" style="display: inline-block; color: #ccc;">
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tf</td>
                                    <td class="FrameTf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Uf</td>
                                    <td class="FrameUf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψf</td>
                                    <td class="FrameYf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                            </table>

                            <table id="PostTableBottom" style="display: inline-block; color: #ccc; display: none;">
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tp</td>
                                    <td class="PostTp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Up</td>
                                    <td class="PostUp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψp</td>
                                    <td class="PostYp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                            </table>


                            <div style="vertical-align: top; border: 1px solid #ccc; border-right-width: 4px; width: 23px; height: 23px; margin-left: 16px; display: inline-block;">
                                <span class="glyphicon glyphicon-arrow-right" style="color: #ccc; margin-left: 3px;"></span>
                            </div>
                            <table id="FrameTableRight" style="display: inline-block; color: #ccc;">
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tf</td>
                                    <td class="FrameTf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Uf</td>
                                    <td class="FrameUf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψf</td>
                                    <td class="FrameYf" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                            </table>

                            <table id="PostTableRight" style="display: inline-block; color: #ccc; display: none;">
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Tp</td>
                                    <td class="PostTp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Up</td>
                                    <td class="PostUp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                                <tr style="border: 1px solid #ccc;">
                                    <td style="width: 28px; padding-left: 5px; border-right: 1px solid #ccc;">Ψp</td>
                                    <td class="PostYp" style="width: 64px; padding-right: 5px; text-align: right;">-</td>
                                </tr>
                            </table>

                        </div>
                    </div>

                    <br />
                    <br />
                    <br />

                    <button id="btnProductUpdate" class="btn btn-default">Uppdatera</button>
                    <button id="btnProductUpdateAll" class="btn btn-default" style="width: 117px; margin-left: 10px;">Uppdatera Alla</button>

                    <button id="btnTestAreaParts" class="btn btn-success" style="width: 130px; float: right; margin-right: 20px;">Testa Area Parts</button>

                    <!-- label id="scrollTopper" style="color: #ccc;">awe</!--label -->
</div>

            </div>



        <!-- Controls -->
        <div class="col-md-4" >

            <div style="float: right; margin-top: 20px; padding-left: 10px; padding-top: 10px; width: 370px; height: 780px; background-color: #333;">

                <h4 style="color: #ccc">Luftval</h4>

                <!-- Pane selection canvas -->
                <canvas id="PaneSelectCanvas" width="350" height="370"></canvas>

                <!--
                <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    -->

                <!-- Pane width/height input -->
                <label style="color: #ccc;">Postplacering</label><br />
                <span><label style="color: #ccc; width: 50px;">X: </label><input id="paneWidth" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;"/><label id="lblPaneWidth" style="margin-left: 10px; color: #ccc;"> mm</label></span><br>
                <span><label style="color: #ccc; width: 50px;">Y: </label><input id="paneHeight" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 0px; margin-bottom: 10px;"/><label id="lblPaneHeight" style="margin-left: 10px; color: #ccc;"> mm</label></span>
                <br />
                <button id="btnPaneDimensionsUpdate" class="btn btn-default">Uppdatera</button>

                <br/>

                <!-- Frame width/height input -->
                <label style="color: #ccc;">Karmmått</label><br/>
                <span><label style="color: #ccc; width: 50px;">Bredd: </label><input id="frameWidth" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 10px; margin-bottom: 10px;" /><label id="lblFrameWidth" style="margin-left: 10px; color: #ccc;"> mm</label></span><br>
                <span><label style="color: #ccc; width: 50px;">Höjd: </label><input id="frameHeight" type="text" class="form-control" style="width: 160px; text-align: right; display: inline-block; margin-top: 0px; margin-bottom: 10px;" /><label id="lblFrameHeight" style="margin-left: 10px; color: #ccc;"> mm</label></span>
                <br />
                <button id="btnFrameDimensionsUpdate" class="btn btn-default">Uppdatera</button>
                
            </div>
        </div>
    </div>
</div>


<script src="~/ScriptsLeiab/ProjectConstants.js"></script>      <!-- Project constants -->

<script src="~/ScriptsLeiab/GenericObjects.js"></script>        <!-- Generic objects constructors -->
<script src="~/ScriptsLeiab/ProjectObjects.js"></script>        <!-- Project objects constructors -->

<script src="~/ScriptsLeiab/ProjectGraphics.js"></script>       <!-- Project graphics functions -->
<script src="~/ScriptsLeiab/ProjectUpdate.js"></script>         <!-- Project update functions -->

<script src="~/ScriptsLeiab/ProjectInit.js"></script>          <!-- Project initiation -->


<script>

    $(function () {

        $.getJSON("/Project/GetTemplate?id=" + @ViewBag.TemplateId, function (data) {

            selector = new lbPaneSelector(data);        // Init pane selector object

            project = new lbProject(data);              // Init project object

            //lbUpdatePaneDimensions();                   // Update project pane dimensions

            $("#paneWidth").val(lbGetSelectedPaneWidth());     // Update pane dimensions
            $("#paneHeight").val(lbGetSelectedPaneHeight());

            $("#frameWidth").val(lbGetFrameWidth());
            $("#frameHeight").val(lbGetFrameHeight());

            $("#paneUg").val(lbGetSelectedUg());
        });

        // Update project title
        if(@ViewBag.ProjectType == 1) {
            $("#titleProject").text("Fönster");
        } else {
            $("#titleProject").text("Dörr");
        }

        // Populate product select list
        $.getJSON("/Project/GetProducts/?window=" + @ViewBag.ProjectType, function (data) {
            //alert(data.length);
            products = data;

            lbInitProductLists();               // Update product lists

            lbUpdateFrameAndPostTables();       // Update frame/post tables

            /*
            for(var i = 0; i < data.length; i ++) {

                $("#productList").append(
                    $('<option/>', {
                        value: data[i].Id,      // Need to find out how to get this value on select list change
                        text: "[" + data[i].Name + "], [" + data[i].Glass + "]"
                        //text: "[" + data[i].Name + "], [" + data[i].Glass + "]" + " Ug: " + data[i].Ug
                    }));

                //alert("Val: " + data[i].Id);
                //alert("Name: " + data[i].Name);
            }*/
        });
    });

</script>

